.Whitepace{
    background-image: url('/images/Hero-section.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    color: #FFFF;
}
.Container-Whitepace{
 width: 80%;
    justify-content: space-between;
    display: flex
;
}

.container-Whitepace-left{
    width: 40%;
    margin-top: 100px;
    
}
.container-Whitepace-right{
    max-width: 50%;
}


.container-Whitepace-right h1{
    font-size: 80px;
    margin-top: 0px;
    margin-top: 60px;
    position: relative;
    padding-bottom: 20px;
}


.container-Whitepace-right p{
    max-width: 900px;
    font-size: 30px;
    margin-top: -10px;
}

.container-Whitepace-right button{
    margin-top: 40px;
    width: 250px;
    height: 60px;
    font-size: 20px;
}