.Testimonials{
    width: 100%;
    display: flex;
    height: 661px;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    flex-direction: column;
}
.Container-Testimonials{
 width: 80%;
    justify-content: space-between;
    display: flex
;
}

.container-Testimonials-left{
    width: 40%;
    
    
}
.container-Testimonials-right{
    max-width: 50%;
}


.container-Testimonials-right h1{
    font-size: 80px;
    width: 600px;
    margin-top: 0px;
    position: relative;
    padding-bottom: 20px;
}

.container-Testimonials-right h1::after {
    content: "";
    background-image: url(/images/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 211px;
    top: 76px;
    transform: none;
    width: 400px;
    height: 45px;
    z-index: -1;
    opacity: 0.8;
    
}

.container-Testimonials-right p{
    max-width: 900px;
    font-size: 30px;
    margin-top: -10px;
}

.container-Testimonials-right button{
    margin-top: 40px;
    width: 250px;
    height: 60px;
    font-size: 20px;
}


.sponsors{
    width: 80%;
    margin-top: 180px;
    text-align: center;
}
.sponsors h1{
    font-size: 70px;
    position: relative;
}

.sponsors h1::after {
    content: "";
    background-image: url(/images/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 890px;
    top: 64px;
    transform: none;
    width: 319px;
    height: 45px;
    z-index: -1;
    opacity: 0.8;
}

.sponsors-cont{
    display: flex;
    margin-top: 170px;
}
.sponsors-cont div{
    width: 100%;
    height: 110px;
    
}
.sponsors-cont div img{
    width: 100%;
}