.Together{
  width: 100%;
    display: flex;
    height: 661px;
    align-items: center;
    justify-content: center;
}
.Container-Together{
    width: 80%;
    justify-content: space-between;
    display: flex;
}

.container-Together-left{
    width: 40%;
    
    
}
.container-Together-right{
    max-width: 50%;
}


.container-Together-right h1{
    font-size: 80px;
    width: 400px;
    margin-top: 0px;
    position: relative;
    padding-bottom: 20px;
}


.container-Together-right p{
    max-width: 900px;
    font-size: 30px;
    margin-top: -10px;
}

.container-Together-right button{
    margin-top: 40px;
    width: 250px;
    height: 60px;
    font-size: 20px;
}